/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-background-image: url(../images/cover-image-light.png);
  --main-background-color: #FFF1F7;
  --main-color-text: #353430;
  --title-font-color:#FFC2E6;
  --accent-color:#FF8DCB;
}

@media(prefers-color-scheme: light){
  :root{
    --main-background-image: url(../images/cover-image-light.png);
    --main-background-color: #FFF1F7;
    --title-font-color:#FFC2E6;
    --main-color-text: #353430;
    --accent-color:#FF8DCB;
  }

  .header__theme-menu-button {
    color: var(--main-color-text);
    border-color: var(--main-color-text);
  }

  .header__theme-menu-button_active {
  outline: 1px solid var(--main-color-text);
  pointer-events: none;
}

.header__theme-menu-item:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

/* .rec{
   display: none;
 } */
}