:root.theme-light {
  --main-background-image: url(../images/cover-image-light.png);
  --main-background-color: #FFF1F7;
  --main-color-text: #353430;
  --title-font-color: #FFC2E6;
  --accent-color: #FF8DCB;
}

 :root.theme-light .rec {
    display: none;
  }

  :root.theme-light .decorated-zone:before {
    border-top: 1px solid var(--main-color-text);
    border-right: 1px solid var(--main-color-text);
  }

  :root.theme-light .decorated-zone:after {
    border-bottom: 1px solid var(--main-color-text);
    border-left: 1px solid var(--main-color-text);
  }

@media(prefers-color-scheme: light) {
  :root {
    --main-background-image: url(../images/cover-image-light.png);
    --main-background-color: #FFF1F7;
    --title-font-color:#FFC2E6;
    --main-color-text: #353430;
    --accent-color:#FF8DCB;
  }

  .header__theme-menu-button {
    color: var(--main-color-text);
    border-color: var(--main-color-text);
  }

  .header__theme-menu-button_active {
    outline: 1px solid var(--main-color-text);
    pointer-events: none;
  }

  .header__theme-menu-item:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }

 .rec {
   display: none;
  } 

 .decorated-zone:before {
    border-top: 1px solid var(--main-color-text);
    border-right: 1px solid var(--main-color-text);
  }

 .decorated-zone:after {
    border-bottom: 1px solid var(--main-color-text);
    border-left: 1px solid var(--main-color-text);
  }
}