:root.theme-light {
  --main-background-image: url(../images/cover-image-light.png);
  --main-background-color: #fff1f7;
  --menu-color: #353430;
  --main-title-font-color: #ffc2e6;
  --main-color-text: #353430;
  --title-section-color:#353430;
  --title-card-color:#353430;
  --accent-color: #ff8dcb;
  --border-botton-color-hover: #32312d66;
  --border-botton-color-focus: #353430;
  
}

:root.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --main-background-image: url(../images/cover-image-light.png);
  --main-background-color: #fff1f7;
  --menu-color: #353430;
  --main-title-font-color: #ffc2e6;
  --main-color-text: #353430;
  --title-section-color:#353430;
  --title-card-color:#353430;
  --accent-color: #ff8dcb;
  --border-botton-color-hover: #32312d66;
  --border-botton-color-focus: #353430;
  }

  .rec {
    display: none;
  }
}
