/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
  padding-top:10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.header__theme-menu-button {
  background-color: transparent;
  color:var(--accent-color);
  border: none;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-item:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}
 
.header_title {
   grid-row:2;
   font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
   font-weight: 700;
   color: var(--title-font-color);
   text-shadow: 4px 4px 0 var(--accent-color);
   line-height: 83%;
} 


.header__subtitle { 
  grid-row: 3;
  justify-self: center;
  align-self: center;
  font-size: 1.12em;
  line-height: 23.4px;
  color: var(--subtitle-font-color);
  background-color: var(--subtitle-background-color);
  text-align: left;
  margin-bottom: 7px;
}

.content_reason {
  font-size: 18px;
  display: grid;
  grid-template-rows: 2;
  gap: 20px;
}
.content__title{
  grid-row:1;
  color: var(--accent-color);
  font-size: 18px;
  font-weight:700;
}

.content__reason-list{
  grid-row:2;
  display: flex;
  flex-direction: column;
}

.content__reason-item{
 color:var(--subtitle-font-color);
 background-color: var(--subtitle-background-color);
 font-weight:700;
}

.content__reason-item-text {
  color: var(--main-color-text);
  font-weight: 400;
}

/*.info {
  color: var(--main-color-text);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1;
  gap: 20px;
  line-height: 23.4px;
}

.info_title {
  color: var(--accent-color);
  margin: 0 10px;
  font-weight: 700;
  font-size: 1.12em;
}


.info_text {
 margin: 10px 13.97px 20px 10px;
 font-weight: 400px;
 font-size: 18px;
}


.footer{
  height: 100vh;
  min-height: 668px;
  align-content: center;
  justify-self: center;
} */