/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-background-image: url(../images/cover-image-dark.png);
  --main-background-color: #000028;
  --title-font-color: #DB00FF; 
  --subtitle-font-color: #000028;
  --main-color-text: #F1B2CE;
  --accent-color:#FF0070;
  --main-font-family: 'IBM Plex mono', monospace;
  --subtitle-background-color: #FF0070;
}

